    @import url('https://db.onlinewebfonts.com/c/d03165bd677535fe8da7479e26b13180?family=Azo+Sans+Uber+W01+Regular');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
    .size {
        background-size: 100% 100% !important;
    }
    
    .slider-box-ABout {
        width: 220px;
        perspective: 1000px;
        position: relative;
        top: -4%;
        right: 0;
        transform: rotate(12deg);
    }
    
    .carousel {
        transform-style: preserve-3d;
        animation: rotate 20s infinite linear;
    }
    
    .it1 {
        transform: rotateY(0deg) translateZ(35vh);
    }
    
    .it2 {
        transform: rotateY(40deg) translateZ(35vh);
    }
    
    .it3 {
        transform: rotateY(80deg) translateZ(35vh);
    }
    
    .it4 {
        transform: rotateY(120deg) translateZ(35vh);
    }
    
    .it5 {
        transform: rotateY(160deg) translateZ(35vh);
    }
    
    .it6 {
        transform: rotateY(200deg) translateZ(35vh);
    }
    
    .it7 {
        transform: rotateY(240deg) translateZ(35vh);
    }
    
    .it8 {
        transform: rotateY(280deg) translateZ(35vh);
    }
    
    .it9 {
        transform: rotateY(320deg) translateZ(35vh);
    }
    
    .it10 {
        transform: rotateY(360deg) translateZ(35vh);
    }
    
    .carousel .img {
        transition: ease-in-out 0.5s;
        width: 100%;
        height: 100%;
    }
    
    .carousel:hover {
        animation-play-state: paused;
    }
    
    .carousel .backface {
        backface-visibility: hidden;
    }
    
    @keyframes rotate {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
    /* accordion */
    
    .accordion-content {
        height: 0;
        overflow: hidden;
        transition: max-height 1s linear !important;
    }
    
    .para {
        -webkit-font-smoothing: antialiased;
    }
    
    .accordion-content.open {
        height: auto;
        transition: max-height 1s linear !important;
    }